
body,
h1,
p {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #3498db;
  color: #fff;
}


#feedback {
  font-weight: bold;
  font-size: 18px;
  color: #27ae60;
}

#quiz-container {
  text-align: center;
}

#user-answer {
  width: 80%;
}


@media screen and (max-width: 600px) {
  main {
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  input[type="text"] {
    width: 100%;
  }
}
